* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navoptions {
    background-color: rgb(109, 98, 98);
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navconfig{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(15, 13, 13);
}

.navconfig il a{
    padding-right:20px ;
}

.titulo-pag{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    font-family: 'Tourney', cursive;
    font-size: 35px;
}
.logo{
    padding-right: 20px;
}

.logo a img{
    border-radius: 30px;
}
.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.formulario label{
    padding: 10px 0px;
}

#usuario, #pais, #correo, #contraseña {
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(111, 115, 161);
    border-radius: 5px;
}

.boton-form {
    margin-top: 20px;
    border: none;
    background-color: rgb(57, 209, 77);
    padding: 10px;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 20px;
}

.puente{
    text-align: center;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.btn-volver{
    display: block;
    padding: 30px;
    text-decoration: none;
}

