
/*COMANDO DENERAL PARA MARGEN DE NAVEGADOR*/

* { 
    margin: 0; padding: 0; 
}


/*HEADER FOTO Y TITULO*/

       /*FOTO Y BACKGROUND*/
.backfoto {
    position: relative;
    width: 1440px;
    height: 189px;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqj--TccrDIYwuoOoP5CqGKq-J7AuXkMiSUA&usqp=CAU');
 }
 #Foto {
    position: absolute;
    width: 100px;
    height: 147px;
    left: 670px;
    top: 21px;
 }

        /*TITULO Y BACKGROUND*/

        
#backtitulo {
    position: relative;
    background-color: #C4C4C4;
    width: 1440px;
    height: 60px;
}

#TituloCurriculum {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-feature-settings: 'cpsp' on;
    top: 20%;
    left: 20%;
    color: #005677;
}
header {
    width: 1440px;
}


/*SECCION DE LOS DATOS*/


.Principal {
    width: 1440px;
    height: 739px;
    position: relative;
    
}

.SeccionCompleta {
    width: 1041px;
height: 459px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -225.5px;
margin-left: -520.5px;
text-align: center;
font-family: 'Raleway', sans-serif;
}

ul{
    width: 1000px;
    margin-left: 34px;
}
li{
    margin-top: 10px;
    font-weight: 400;
    line-height: 12.7px;
}
.EspacioDatosPersonales {
    text-align: left;
}

.EspacioDatosFormacion {
    margin-top: 30px;
    text-align: left;

}

.EspacioDatosExperiencia {
    margin-top: 30px;
    text-align: left;
}

h2 {
background-color: #C4C4C4;
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
font-size: 20px;
line-height: 84.69%;
color: #005677;
}

b{
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: 12.7px;
}



/*SECCIÓN FOOTER*/



footer {
    background-color: #005677;
    text-align: center;
    width: 1440px;
    height: 37px;
    position: relative;
}
span {
    font-family: Times New Roman;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 84.69%;
color: #FFFFFF;
margin-top: 9px;
position: absolute;
margin-left: -130px;
}

.iconos {
    width: 20px;
    height: 20px;
    color: #FFFFFF;
    margin-top: 9px;
    margin-bottom: 8px;
}

#callToAction {
    bottom:  80px;
}

#sobreMi {
    text-align: left;
    margin-top: 20px;
    margin-left: 5px;
    font-family: 'Roboto Condensed', sans-serif;
}

.yo {
    background-color: salmon;
    text-align: center;
    margin-top: 50px;
}

.volver {
    width: auto;
}